---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import Copyright from './Copyright.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<footer>
  <div class="footer-extra-container">
    <slot name="footer-extra" />
  </div>

  <div class="footer-legal">
    <Copyright /><br>
    <div class="footer-links">
      <a href={`/${lang}/${t('imprint.url')}`}>{t('footerImprint')}</a> |
      <a href={`/${lang}/${t('privacy.url')}`}>{t('footerPrivacy')}</a> |
      <a href={`/${lang}/${t('about.url')}`}>{t('footerAbout')}</a>
    </div>
  </div>
</footer>

<style>
  footer {
    margin-top: auto;
    padding: 30px;
    font-size: 0.9em;
    text-align: center;
    width: 100%;
    border-top: 1px solid var(--border-color);
    color: var(--text-muted);
  }

  .footer-extra-container {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }

  .footer-extra-container:empty {
    display: none;
    margin-bottom: 0;
  }

  .footer-legal {
    line-height: 1.5;
  }

  footer a {
    color: var(--text-muted);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease;
  }

  footer a:hover {
    color: var(--accent-primary);
  }

  .footer-links {
    margin-top: 5px;
  }
</style>
